
div {
    width: 400px;
    padding: 5px;
}

div:nth-child(even) {
    background-color: #f9f9f9;
}

div:nth-child(odd) {
    background-color: #ffff99;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}
